<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-background-upload" version="1.0.9">
    <name>Cordova Background Upload Plugin</name>
    <description>Background Upload plugin for Cordova</description>
    <license>ISC</license>
    <keywords>cordova,background,file,download</keywords>
    <js-module src="www/FileTransferManager.js" name="FileTransferManager">
        <clobbers target="FileTransferManager" />
    </js-module>
   
    <platform name="android">
        <framework src="net.gotev:uploadservice:3.2.3" />
        <framework src="net.gotev:uploadservice-okhttp:3.2.3" />
        <framework src="com.sromku:simple-storage:1.2.0" />
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="FileTransferBackground">
                <param name="android-package" value="com.spoon.backgroundFileUpload.FileTransferBackground" />
            </feature>
			<feature name="NetworkMonitor">
                <param name="android-package" value="com.spoon.backgroundFileUpload.NetworkMonitor" />
            </feature>
			<feature name="UploadState">
                <param name="android-package" value="com.spoon.backgroundFileUpload.UploadState" />
            </feature>
			<feature name="FileTransferSettings">
                <param name="android-package" value="com.spoon.backgroundFileUpload.FileTransferSettings" />
            </feature>
			<feature name="ConnectionStatusListener">
                <param name="android-package" value="com.spoon.backgroundFileUpload.ConnectionStatusListener" />
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.INTERNET" />
			<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
        </config-file>
        <source-file src="src/android/FileTransferBackground.java" target-dir="src/com/spoon/backgroundFileUpload" />
		<source-file src="src/android/NetworkMonitor.java" target-dir="src/com/spoon/backgroundFileUpload" />
		<source-file src="src/android/UploadState.java" target-dir="src/com/spoon/backgroundFileUpload" />
		<source-file src="src/android/FileTransferSettings.java" target-dir="src/com/spoon/backgroundFileUpload" />
		<source-file src="src/android/ConnectionStatusListener.java" target-dir="src/com/spoon/backgroundFileUpload" />
    </platform>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="FileTransferBackground">
                <param name="ios-package" value="FileTransferBackground" />
            </feature>
        </config-file>
        <header-file src="src/ios/AppDelegate+upload.h" />
        <source-file src="src/ios/AppDelegate+upload.m" />
         <header-file src="src/ios/FileTransferBackground.h" />
        <source-file src="src/ios/FileTransferBackground.m" />
         <header-file src="src/ios/FileUploadManager.h" />
        <source-file src="src/ios/FileUploadManager.m" />
       
    </platform>

  

</plugin>
