<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-background-upload" version="2.0.0">
    <name>Cordova Background Upload Plugin</name>
    <description>Background Upload plugin for Cordova</description>
    <license>ISC</license>
    <keywords>cordova,background,file,download</keywords>
    <js-module src="www/FileTransferManager.js" name="FileTransferManager">
        <clobbers target="FileTransferManager" />
    </js-module>
     <engines>
        <engine name="cordova" version=">=8.0.0" />
        <engine name="cordova-android" version=">=8.0.0" />
    </engines>
   <dependency id="cordova-plugin-androidx" version="1.0.2"/>
   <dependency id="cordova-plugin-androidx-adapter" version="1.1.0"/>
   <dependency id="cordova-plugin-file" version="6.0.2"/>
    <platform name="android">
        <framework src="net.gotev:uploadservice:4.0.0" />
        <framework src="net.gotev:uploadservice-okhttp:4.0.0" />
        <framework src="com.sromku:simple-storage:1.2.0" />
        <framework src="com.github.satyan:sugar:1.5" />
        <framework src="com.github.pwittchen:reactivenetwork-rx2:3.0.6" />
         <edit-config file="AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:name="com.orm.SugarApp" />
        </edit-config>
        <framework src="src/android/config.gradle" custom="true" type="gradleReference"/>
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="FileTransferBackground">
                <param name="android-package" value="com.spoon.backgroundfileupload.FileTransferBackground" />
            </feature>
            <feature name="UploadEvent">
                <param name="android-package" value="com.spoon.backgroundfileupload.UploadEvent" />
            </feature>
            <feature name="PendingUpload">
                <param name="android-package" value="com.spoon.backgroundfileupload.PendingUpload" />
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <meta-data android:name="DATABASE" android:value="cordova-plugin-background-upload.db" />
            <meta-data android:name="VERSION" android:value="1" />
            <meta-data android:name="QUERY_LOG" android:value="false" />
            <meta-data android:name="DOMAIN_PACKAGE_NAME" android:value="com.spoon.backgroundfileupload" />
        </config-file>
        <source-file src="src/android/FileTransferBackground.java" target-dir="src/com/spoon/backgroundfileupload" />
        <source-file src="src/android/PendingUpload.java" target-dir="src/com/spoon/backgroundfileupload" />
        <source-file src="src/android/UploadEvent.java" target-dir="src/com/spoon/backgroundfileupload" />
        <resource-file src="src/android/res/ic_upload.png" target="res/drawable/ic_upload.png" />
    </platform>
    <platform name="ios">
        <framework src="AFNetworking" type="podspec" spec="~> 3.2.1" />
        <config-file target="config.xml" parent="/*">
            <feature name="FileTransferBackground">
                <param name="ios-package" value="FileTransferBackground" />
            </feature>
        </config-file>
        <header-file src="src/ios/FileTransferBackground.h" />
        <source-file src="src/ios/FileTransferBackground.m" />
        <header-file src="src/ios/UploadEvent.h" />
        <source-file src="src/ios/UploadEvent.m" />
        <header-file src="src/ios/FileUploader.h" />
        <source-file src="src/ios/FileUploader.m" />
    </platform>
</plugin>
