<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      File Uploader Sample
    </ion-title>
    <ion-buttons end> 
      <ion-button color="primary" (click)="openGallery()"> Select Photos </ion-button> 
    </ion-buttons> 
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="content-heading">
    <ion-button [disabled]="pendingMedia.length < 1" color="primary" (click)="uploadAll()">Start all</ion-button>
  </div>
  <ion-list>
    <ion-item *ngFor="let media of allMedia">
      <div class="media-card">
        <div class="thumbnail">
          <img [src]="media.localUri" />
        </div>
        <div class="metadata">
          <div class="status">
            <span *ngIf="media.status">{{ media.status }}</span>
          </div>
          <div class="actions">
            <ion-button
              [disabled]="!canActOnMedia('startUpload',media)" 
              color="primary" 
              (click)="startUpload(media)"
            >
              Start
            </ion-button>
            <ion-button
              [disabled]="!canActOnMedia('retryUpload',media)" 
              color="warning" 
              (click)="retryUpload(media)"
            >
              Retry
            </ion-button>
            <ion-button
              [disabled]="!canActOnMedia('cancelUpload',media)" 
              color="danger" 
              (click)="cancelUpload(media)"
            >
              Cancel
            </ion-button>
            <ion-button
              [disabled]="!canActOnMedia('removeUpload',media)" 
              color="danger" 
              (click)="removeUpload(media)"
            >
              Remove
            </ion-button>
          </div>
        </div>
      </div>
    </ion-item>
  </ion-list>
</ion-content>

<div class="logs">
  <div class="wrapper" #logs_container>
    <div *ngFor="let log of logs" class="log">{{ log }}</div>
  </div>
</div>
