<ion-header [translucent]="true">
  <ion-title>
    File Uploader Sample
  </ion-title>
  <ion-toolbar>
    <ion-buttons slot="start"> 
      <ion-button color="primary" (click)="openGallery()"> Select Photos </ion-button> 
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button class="spr" color="primary" (click)="openSettings()"> Settings </ion-button>
    </ion-buttons> 
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="content-heading">
    <ion-button [disabled]="pendingMedia.length < 1" color="primary" (click)="uploadAll()">Start all</ion-button>
  </div>
  <div class="content-list">
    <ion-list>
      <ion-item *ngFor="let media of allMedia">
        <div class="media-card">
          <div class="thumbnail">
            <img [src]="media.localUri" />
          </div>
          <div class="metadata">
            <div class="status">
              <span *ngIf="media.status">{{ media.status }}</span>
            </div>
            <div class="actions">
              <ion-button
                color="primary" 
                (click)="startUpload(media)"
              >
                Start
              </ion-button>
              <ion-button
                color="danger" 
                (click)="cancelUpload(media)"
              >
                Cancel
              </ion-button>
              <ion-button
                color="danger" 
                (click)="removeUpload(media)"
              >
                Remove
              </ion-button>
            </div>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </div>
</ion-content>

<div class="logs">
  <div class="wrapper" #logs_container>
    <div *ngFor="let log of logs" class="log">{{ log }}</div>
  </div>
</div>
