ion-title {
  text-align: center;
}

ion-button.spr {
  margin-right: 8px;
}

.content-heading {
  padding: 8px 16px;
  text-align: right;
}

.content-list {
  max-height: calc(100vh - 264px);
  overflow-y: scroll;
}

.media-card {
  display: flex;
  align-items: center;
  flex-grow: 1;
  .thumbnail {
    width: 50px;
    img {
      width: 100%;
      height: auto;
    }
  }
  .metadata {
    flex-grow: 1;
    padding: 8px;
    .actions {
      display: flex;
      justify-content: space-between;
    }
  }
}

.logs {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 8px 16px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-size: 12px;
  .wrapper {
    height: 108px;
    overflow-y: scroll;
  }
}