<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      File Uploader Sample
    </ion-title>
    <ion-buttons end> 
      <ion-button color="primary" (click)="openGallery()"> Select Photos </ion-button> 
    </ion-buttons> 
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let media of allMedia">
      <img [src]="media.uri" style="width: 50px; height:auto;" />
      <div class="item-text-center item-text-wrap">
          {{media.status}}
      </div>
      <ion-button color="danger" slot="end" (click)="cancelUpload(media)">Abort</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
