<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-button expand="full" (click)="onPickImage()">Add images</ion-button>
    <ion-card *ngFor="let img of images | keyvalue">
      <ion-img [src]="img.value" (click)="onClickImage(img.key)"></ion-img>
      <ion-progress-bar
        *ngIf="uploadStates.has(img.key)"
        [color]="uploadStates.get(img.key).color"
        [value]="uploadStates.get(img.key).progress"></ion-progress-bar>
    </ion-card>
    <ion-button expand="full" (click)="onTapUploadButton()">Upload images</ion-button>
  </ion-content>
</ion-content>
